<html>
<head>
 <meta charset="UTF-8">
 <title>Adieu monde cruel</title>
</head>
<body>
 <h1>Bye bye {{ nom }}!</h1>
 <p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem libero illum distinctio ipsum quo voluptatum. Expedita sit commodi debitis reprehenderit ab voluptatibus quis quia eaque voluptas, enim, deleniti quas facilis.
 </p>
</body>
</html>
